.layout {
  min-height: 100vh;
  background: #f8fafc;
}

/* Push everything below the fixed header */
.body {
  display: flex;
  margin-top: 63px;               /* Header height */
  min-height: calc(100vh - 72px);
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;   /* 👈 THIS is your scrolling container */
  overflow-x: hidden;
  margin-left:-20px ;
  margin-right:-20px ;
}



